version: '3.8'

services:
  mimicwx:
    build: .
    container_name: mimicwx-linux
    privileged: true
    ports:
      - "5901:5901" # VNC
      - "6080:6080" # noVNC
      - "8899:8899" # MimicWX API
    volumes:
      - wechat-data:/home/wechat/.xwechat
      - .:/home/wechat/mimicwx-linux
    shm_size: '512m'
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    security_opt:
      - seccomp:unconfined
    tmpfs:
      - /tmp
    restart: "no"

volumes:
  wechat-data:
